.content {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 200px 1fr;
    grid-template-areas: "header header"
                          "left right";  
}

.content header {
    grid-area: header;
}

#bg {
    grid-area: left;
    background-image: url("../assets/home-bg-img.png");
    background-repeat: no-repeat;
    height: 641px;
    background-size: contain;
    background-position-x: -10rem;
}

main {
    display: flex;
    margin-top: 8rem;
    
}

main .container {
    width: min(36.3rem, 100%);
}

main h2 {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-weight: 700;
    font-size: clamp(20px, 5vw, 2.8rem);
    margin-bottom: 2.4rem;
}

input {
    border: 0.2rem solid var(--grey-blue);
    padding: 0 1.6rem;
    height: 4rem;
    border-radius: 0.5rem;
    outline: none;
}

input, button, .button{
    width: 100%;
    margin-bottom: 18px;
}

/* Separetor line */

.separator {
    display: flex;
    align-items: center;
    gap: 0.812rem;
    margin: 40px 0;
}

.separator div:nth-child(2) {
    color: var(--grey-blue);
    font-family: 'Poppins';
}

.separator div:nth-child(1),
.separator div:nth-child(3) {
    background: var(--grey-blue);
    width: 100%;
    height: 1px;
}

/* Create balls */

.ball {
    background: var(--grey-blue);
    opacity: 10%;
    position: fixed;
    height: 13.25rem;
    width: 13.25rem;
    clip-path: circle();
   
}

.ball.top {
    height: 39.562rem;
    width: 39.562rem;
    right: -11.25rem;
    top: -11.25rem;
}

.ball, .button {
    right: 3.5rem;
    bottom: -8rem;
}