
           <section class="form">
               <h2>Crie sua própria sala</h2>
               <form action="/create-room" method="POST">
                   <label class="sr-only" for="room-id">Insira uma Senha</label>
                   <input type="password" name="password" id="room-id" placeholder="Insira uma senha">
                   <button>
                       <img src="./images/users.svg" alt="Criar sala">
                       Criar Sala
                    </button>
               </form>
           </section>
 