<div class="no-questions">
    <div>
        <img src="/images/noquestion.svg" alt="No question">
    </div>
    <p id="title">Nenhuma pergunta por aqui...</p>
    <p id="text">Faça sua primeira pergunta e envie o código dessa sala para outras pessoas!</p>
</div>