* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
}

html {
    --black: #0D114F;
    --white: #fafafa;
    --light-blue: #E0ECFF;
    --blue: #3485FF;
    --red: #E83F5B;
    --background: #FBFCFF;
    --overlay: #040911;
    --icons-details: #A5B0C1;
    --background-question-read: #EAECF2;
    
    /* Cores de verde */
    --grey-dark: #4D5E77;
    --grey-blue: #A1B2CD;
    --grey-light: #E5EAF1;
    --grey-medium: #D3D9E2;

    /* Cores do efeito hover */

    font-size: 62.5%;
}

body {
    display: flex;
    height: 100vh;
    background: var(--background);
}

body, button, input, textarea {
    /* Intervalo de tamanho*/
    font-size: clamp(14px, 1.6rem, 2vw);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.content {
    width: 100%;
    margin: 0 auto;
}

.sr-only {
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0px;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0px;
}

/* ------- Input and Buttons ------- */

input, button, .button {
    border-radius: 0.5rem;
    height: 5rem;
}

button, .button {
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    color: var(--white);
    cursor: pointer;
    transition: 0.2s;
    gap: 0.65rem;
    padding: 13px 32px;
}

button:hover, .button:hover {
    filter: brightness(1.2);
}

button > img, 
.button > img {
    color: var(--white);
    width: 2rem;
}

button.outlined, .button.outlined{
    background-color: var(--white);
    border: 2px solid var(--blue);
    color: var(--blue);
}

/* Botão red */

button.red, .button.red {
    background: var(--red);
    color: var(--white);
    padding: 12px 32px;
}

button.grey, .button.grey {
    background: var(--grey-light);
    color: var(--grey-dark);
    padding: 12px 32px;
}

/* Header */

.content header {
    width: 80%;
    margin: 2.187rem auto;
}

.content header img {
    width: 167px;
}